<div class="header">

	<div class="header-left active">
		<a href="index.html" class="logo">
			<img src="assets/img/logo.png" alt="">
		</a>
		<a href="index.html" class="logo-small">
			<img src="assets/img/logo-small.png" alt="">
		</a>
		<a id="toggle_btn" href="javascript:void(0);">
		</a>
	</div>

	<a id="mobile_btn" class="mobile_btn" href="#sidebar">
		<span class="bar-icon">
			<span></span>
			<span></span>
			<span></span>
		</span>
	</a>

	<ul class="nav user-menu">

		<li class="nav-item">
			<div class="top-nav-search">
				<a href="javascript:void(0);" class="responsive-search">
					<i class="fa fa-search"></i>
				</a>
				<form action="#">
					<div class="searchinputs">
						<input type="text" placeholder="Search Here ...">
						<div class="search-addon">
							<span><img src="assets/img/icons/closes.svg" alt="img"></span>
						</div>
					</div>
					<a class="btn" id="searchdiv"><img src="assets/img/icons/search.svg" alt="img"></a>
				</form>
			</div>
		</li>

		<li class="nav-item dropdown has-arrow main-drop" *ngIf="loginOrNot()">
			<a href="javascript:void(0);" class="dropdown-toggle nav-link userset" data-bs-toggle="dropdown">
				<span class="user-img"><img src="assets/img/profiles/avator1.jpg" alt="">
					<span class="status online"></span></span>
			</a>
			<div class="dropdown-menu menu-drop-user">
				<div class="profilename">
					<div class="profileset">
						<span class="user-img"><img src="assets/img/profiles/avator1.jpg" alt="">
							<span class="status online"></span></span>
						<div class="profilesets">
							<h6>{{utilisateur.nom+' '+utilisateur.prenom}}</h6>
						</div>
					</div>
					<hr class="m-0">
					<a class="dropdown-item" href="profile.html"> <i class="me-2" data-feather="user"></i> My
						Profile</a>
					<a class="dropdown-item" href="generalsettings.html"><i class="me-2"
							data-feather="settings"></i>Settings</a>
					<hr class="m-0">
					<a class="dropdown-item logout pb-0" (click)="logout()"><img src="assets/img/icons/log-out.svg"
							class="me-2" alt="img">Logout</a>
				</div>
			</div>
		</li>

		<li *ngIf="!loginOrNot()">
			<a class="dropdown-item" routerLink="/login"> <i class="me-2" data-feather="user"></i>
				Login</a>
		</li>
	</ul>
</div>

<div class="sidebar" id="sidebar" *ngIf="loginOrNot()">
	<div class="sidebar-inner slimscroll">
		<div id="sidebar-menu" class="sidebar-menu">
			<ul>
				<li class="active">
					<a routerLink="/" (click)="navigateTo('/')"><img src="assets/img/icons/dashboard.svg"
							alt="img"><span>
							Dashboard</span></a>
				</li>
				<li class="submenu" *ngIf="adminService.rolesMatch(['SUPERADMIN'])">
					<a routerLink="/specialite" (click)="navigateTo('/specialite')"><img
							src="assets/img/icons/expense1.svg" alt="img"><span>
							Specialty</span></a>
				</li>
				<li class="submenu">
					<a href="javascript:void(0);"><img src="assets/img/icons/sales1.svg" alt="img"><span> Stock</span>
						<span class="menu-arrow"></span></a>
					<ul>
						<li><a routerLink="/listCat" (click)="navigateTo('/listCat')">Categories Product</a></li>
						<li><a routerLink="/products" (click)="navigateTo('/products')">Products</a></li>
					</ul>
				</li>
				<li class="submenu">
					<a href="javascript:void(0);"><img src="../../../assets/img/icons/users1.svg" alt="img"><span> Users</span>
						<span class="menu-arrow"></span></a>
					<ul>
						<li class="submenu" *ngIf="adminService.rolesMatch(['SUPERADMIN'])">
							<a routerLink="/listdocteur" (click)="navigateTo('/listdocteur')"><img
									src="assets/img/icons/product.svg" alt="img"><span>
									List Doctors </span></a>
						</li>
						<li class="submenu" *ngIf="adminService.rolesMatch(['SUPERADMIN'])">
							<a routerLink="/listassitant" (click)="navigateTo('/listassitant')"><img
									src="assets/img/icons/product.svg" alt="img"><span>
									List Assistants </span></a>
						</li>
						 
						<li class="submenu" *ngIf="adminService.rolesMatch(['SUPERADMIN'])">
							<a routerLink="/listresponsable" (click)="navigateTo('/listresponsable')"><img
									src="assets/img/icons/product.svg" alt="img"><span>
									List Stock Managers </span></a>
						</li>
						<li class="submenu">
							<a routerLink="/patient" (click)="navigateTo('/patient')"><img src="assets/img/icons/product.svg"
									alt="img"><span>
									List Patients</span></a>
						</li>
					</ul>
				</li>
				<li class="submenu">
					<a routerLink="/commande" (click)="navigateTo('/commande')"><img
							src="assets/img/icons/product.svg" alt="img"><span>
							Orders List </span></a>
				</li>
				<li class="submenu">
					<a routerLink="/facture" (click)="navigateTo('/facture')"><img
							src="assets/img/icons/product.svg" alt="img"><span>
							Invoices List </span></a>
				</li>
				<li class="submenu">
					<a routerLink="/rendezvous" (click)="navigateTo('/rendezvous')"><img
							src="assets/img/icons/product.svg" alt="img"><span>
							Appointments List</span></a>
				</li>
				 
			</ul>
		</div>
	</div>
</div>

<div class="page-wrapper">
	<div class="content">
		<router-outlet></router-outlet>
	</div>
</div>
