<div class="main-wrapper">
    <div class="account-content">
        <div class="login-wrapper">

            <div class="login-content">
                <div class="login-userset">
                    <form #form="ngForm" (ngSubmit)="login(form)">

                    <div class="login-logo">
                        <img src="assets/img/logo.png" alt="img">
                    </div>
                    <div class="login-userheading">
                        <h3>Sign In</h3>
                        <h4>Please login to your account</h4>
                        <span style="color: red;">{{message}}</span>
                    </div>
                    <div class="form-login">
                        <label>Email</label>
                        <div class="form-addons">
                            <input type="text" ngModel name="email" placeholder="Enter your email address">
                            <img src="assets/img/icons/mail.svg" alt="img">
                        </div>
                    </div>
                    <div class="form-login">
                        <label>Password</label>
                        <div class="pass-group">
                            <input type="password"  ngModel name="password" class="pass-input" placeholder="Enter your password">
                            <span class="fas toggle-password fa-eye-slash"></span>
                        </div>
                    </div>
                    
                    <div class="form-login">
                        <button class="btn btn-login" type="submit" >Sign In</button>
                    </div>
                    <div class="form-login">
                        <button class="btn btn-login" type="submit"   routerLink="/register">Inscription  </button>
                    </div>
                    
                     
                    </form>
                </div>
              
            </div>   
            <div class="login-img">
                <img src="assets/img/login.jpg" alt="img">
            </div>
        </div>
    </div>
</div>