<div class="page-header">
    <div class="page-title">
      <h4>Docteur Specialite list</h4>
      <h6>View/Search Docteur Specialte</h6>
    </div>
    <div class="page-btn">
      <a class="btn btn-added" data-bs-toggle="modal" data-bs-target="#exampleModalLong">
        <img src="assets/img/icons/plus.svg" class="me-1" alt="img">Add Specialte
      </a>
    </div>
  </div>
  
  <div class="card">
    <div class="card-body">
      <div class="table-top">
        <div class="search-set">
          <div class="search-path">
            <a class="btn btn-filter" id="filter_search">
              <img src="assets/img/icons/filter.svg" alt="img">
              <span><img src="assets/img/icons/closes.svg" alt="img"></span>
            </a>
          </div>
          <div class="search-input">
            <a class="btn btn-searchset"><img src="assets/img/icons/search-white.svg" alt="img"></a>
          </div>
        </div>
      </div>
  
      <div class="table-responsive">
        <table class="table datanew">
          <thead>
            <tr>
              <th>Specialite Image</th>
              <th>Specialite name</th>
              <th>Specialite Code</th>
              <th>Created By</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let s of listSpec">
              <td><img [src]="'data:image/jpeg;base64,' + s.img" alt="{{s.img}}" width="100" height="100"></td>
              <td>{{s.nomSpecialite}}</td>
              <td>S-{{s.id}}</td>
              <td>{{s.createBy.email}}</td>
              <td>
                <a class="me-3" href="editcategory.html" data-bs-toggle="modal" data-bs-target="#exampleModalLong" (click)="getSpecialite(s.id)">
                  <img src="assets/img/icons/edit.svg" alt="img">
                </a>
                <a class="me-3 confirm-text" href="javascript:void(0);">
                  <img src="assets/img/icons/delete.svg" alt="img">
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="exampleModalLong">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{specialte.id ? 'Update Specialite' : 'Add Specialite'}}</h5>
          <button type="button" class="close" data-bs-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">
          <form #form="ngForm" (ngSubmit)="specialte.id ? updateSpecialite(form) : ajouterSpecialite(form)">
            <div class="row">
              <div class="col-lg-6 col-sm-6 col-12">
                <div class="form-group">
                  <label>Name</label>
                  <select type="text" [(ngModel)]="specialte.nomSpecialite" name="nom" class="form-control">
                    <option *ngFor="let j of json" [value]="j">{{j}}</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6 col-12">
                <div class="form-group">
                  <label>Photos</label>
                  <input type="file" class="form-control" name="image" (change)="onFileSelected($event)">
                </div>
              </div>
              <div class="col-lg-12 col-sm-6 col-12">
                <div class="form-group">
                  <label>Description</label>
                  <textarea rows="5" class="form-control" [(ngModel)]="specialte.description" name="description"></textarea>
                </div>
              </div>
              <input type="hidden" [(ngModel)]="specialte.createBy.id" name="createBy" value="{{utilisateur.id}}" class="form-control">
              <div class="col-lg-12">
                <button type="submit" class="btn btn-primary me-2">{{specialte.id ? 'Update Specialite' : 'Add Specialite'}}</button>
                <button type="reset" class="btn btn-danger">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  