    <!-- Header Section Start -->
	<div class="header section">

		<!-- Header Main Start -->
		<div class="header-main">
			<div class="container">

				<!-- Header Wrapper Start -->
				<div class="header-wrapper">

					<!-- Header Logo Start -->
					<div class="header-logo">
						<a href="index.html"><img src="assets/images/logo..png" width="174" height="50" alt="Logo"></a>
					</div>
					<!-- Header Logo End -->

					<!-- Header Menu Start -->
					<div class="header-menu d-none d-lg-flex">

						<ul class="nav-menu">
							<li><a class="active" routerLink="/index">Home</a></li>
							<li>
								<a  routerLink="/doctors"> Doctors  </a>
								 
							</li>
							<li><a href="about.html">About Us</a></li>
							 
						 
						 
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
						
					<div class="login-header-action ml-auto" *ngIf="loginOrNot()">

						 
	
						<a class="action author" href="#">
							<img [src]="'data:image/jpeg;base64,' + utilisateur.img" alt="{{utilisateur.img}}"
							  alt="Author">
						</a>
	
						<div class="dropdown">
							<button class="action more" data-bs-toggle="dropdown">
								<span></span>
								<span></span>
								<span></span>
							</button>
							<ul class="dropdown-menu">
								<li><a class="" routerLink="/patient-account"><i class="icofont-user"></i> Profile</a></li>
								<li><a class="" href="#"><i class="icofont-inbox"></i> Inbox</a></li>
								<li><a class="" (click)="logout()"><i class="icofont-logout"></i> Sign Out</a></li>
							</ul>
						</div>
					</div>
						<div class="header-btn" *ngIf="!loginOrNot()">
							<a class="btn btn-secondary btn-hover-primary" routerLink="/register">Sign Up</a>
						</div>
					 
					 
					<!-- Header Menu End -->

					<!-- Header Toggle Start -->
					<div class="header-toggle d-lg-none">

						<a class="btn btn-secondary btn-hover-primary" routerLink="/register">Sign Up</a>

						<a href="#" class="menu-toggle">
							<span></span>
							<span></span>
							<span></span>
						</a>
					</div>
					<!-- Header Toggle End -->

				</div>
				<!-- Header Wrapper End -->

			</div>
		</div>
		<!-- Header Main End -->

	</div>
	<!-- Header Section End -->


	<!-- Mobile Menu Start -->
	<div class="mobile-menu">

		<!-- Menu Close Start -->
		<a class="menu-close" href="javascript:void(0)">
			<i class="icofont-close-line"></i>
		</a>
		<!-- Menu Close End -->

		<!-- Mobile Menu Start -->
		<div class="mobile-menu-items">
			<ul class="nav-menu">
				<li><a class="active" href="index.html">Home</a></li>
				<li><a href="about.html">About Us</a></li>
				<li>
					<a href="#">All Course</a>
					<ul class="sub-menu">
						<li><a href="courses.html">Courses</a></li>
						<li><a href="my-courses.html">My Courses</a></li>
						<li><a href="#">Courses Details</a>
							<ul class="sub-menu">
								<li><a href="courses-details-left-sidebar.html">Courses Details Left Sidebar</a></li>
								<li><a href="courses-details-right-sidebar.html">Courses Details Right Sidebar</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">Pages </a>
					<ul class="sub-menu">
						<li><a href="after-enroll.html">After Enroll</a></li>
						<li><a href="courses-admin.html">Instructor Dashboard (Course List)</a></li>
						<li><a href="overview.html">Instructor Dashboard (Performance)</a></li>
						<li><a href="students.html">Students</a></li>
						<li><a href="reviews.html">Reviews</a></li>
						<li><a href="engagement.html">Course engagement</a></li>
						<li><a href="traffic-conversion.html">Traffic & conversion</a></li>
						<li><a href="messages.html">Messages</a></li>
						<li><a href="register.html">Register</a></li>
						<li><a href="login.html">Login</a></li>
						<li><a href="faq.html">FAQ</a></li>
						<li><a href="404-error.html">404 Error</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Blog</a>
					<ul class="sub-menu">
						<li>
							<a href="#">Blog</a>
							<ul class="sub-menu">
								<li><a href="blog-grid.html">Blog Grid</a></li>
								<li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
								<li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
							</ul>
						</li>
						<li>
							<a href="#">Blog Details</a>
							<ul class="sub-menu">
								<li><a href="blog-details-left-sidebar.html">Blog Details Left Sidebar</a></li>
								<li><a href="blog-details-right-sidebar.html">Blog Details Right Sidebar</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="contact.html">Contact</a></li>
			</ul>

		</div>
		<!-- Mobile Menu End -->

	</div>
	<!-- Mobile Menu End -->

 	<div class="overlay"></div>
	 <router-outlet></router-outlet>